---
# Copy this file to 'tests/integration/integration_config.yml' and add your API credentials and node/host info
api_host: "192.168.3.24"
user: "root"
domain: "pam"
api_token_id:
api_token_secret:
node: "proxmox"
validate_certs: "no"
vmid: 900

